@import 'tailwindcss';

@theme {
	--color-background: #000000;
	--color-foreground: #ffffff;
	--color-brand: #e3321f;
	--color-dark: #101213;
}

:root {
	background-color: #000000;
	color: #ffffff;
}

body {
	background-color: #000000;
	color: #ffffff;
	min-height: 100vh;
}
